::-webkit-scrollbar {
    display: none;
}
* {
    margin: 0;
}
.first-part{
    width: 108%;
    background-color:#dcfcdf;
    display: flex;
}
.container-information{
    width: 40%;
}
.img-photo{
    width: 8rem;
    height: 10rem;
    margin-top: 3rem;
    margin-left: 1rem;
    border-radius: 2rem;
}
.name{
    font-size: 1rem;
    width: 10rem;
    margin-top: 0.3rem;
    margin-left: 0.3rem;
}
.title-information{
    width: 45%;
    margin-left: 1rem;
}
.information{
    font-size: 1rem;
    margin-top: 2rem;
}
.container-projects{
    display: flex;
    margin-top: 2rem;
}
.img-logo{
    width: 6rem;
    height: 6rem;
    margin-left: 2rem;
    border-radius: 3rem;
    background-color: #b1ff88;
    
}
.title{
    margin-top: 2rem;
}
hr{
    width: 80%;
    height: 5px;
    background-color: #7add54;
    margin-top: 1rem;
    margin-left: 2rem;
}
.second-part{
    width: 80%;
    height: 12rem;
    background-color:#5ecc3a;
    margin: 3rem;
    border-radius: 3rem;
    margin-top: 2rem;
    display: flex;
}
.img-box1{
    width: 8rem;
    height: 9rem;
    margin-top: 1rem;
    margin-left: 1rem;
}
.img-box-1{
    width: 50%;
}
.title1{
    margin-top: 3rem;
    margin-left: 1rem;
    color:#dcfcdf;
}

.text{
    width: 50%;
    margin-left: 2rem;
    color: #dcfcdf;
}


.description{
    margin-left: 1rem;
    color: #dcfcdf;
}
.project{
    margin-top: 2rem;
    left: 2rem;
    color: #dcfcdf;
}
.container-referencias{
    display: flex;
    margin-top: 2rem;
}
.third-part{
    width: 70%;
    height: 12rem;
    background-color:#dcfcdf;
    margin-top: 2rem;
    margin-left: 6rem;
    width: 50%;
    border: black 3px solid;
}
.number2{
    margin-left: 2rem;
}
.description2{
    margin-left: 2rem;
}
.cellPhone{
    margin-left: 2rem;
}
.mail{
    margin-left: 2rem;
}
.container-experiencias{
    display: flex;
    margin-top: 2rem;
}
.container-progress{
    width: 400px;
    margin: auto;
    padding: 10px;
}
.progress{
    width: 100%;
    border-radius: 4rem;
}
.percentage{
    text-align: right;
    padding: 10px;
    font-weight: 900;
}
.html{
    background-color:#7add54;
    border-radius: 4rem;
    width: 70%;
    margin-top: 1rem;
    color:black;
}
.css{
    background-color:#7add54;
    animation: css forwards;
    border-radius: 4rem;
    width: 70%;
    margin-top: 2rem;
    color:black;
}
.js{
    background-color:#7add54;
    animation: js forwards;
    border-radius: 4rem;
    width: 70%;
    margin-top: 2rem;
    color:black;
}
.python{
    background-color:#7add54;
    animation: gitHub forwards;
    border-radius: 4rem;
    width: 45%;
    margin-top: 2rem;
    color:black;
}
.logo-html{
    width: 8rem;
    height: 7rem;
    margin-top: 1rem;
    margin-left: 9rem;
}
.logo-css{
    width: 8rem;
    height: 7rem;
    margin-top: 2rem;
    margin-left: 9rem;
}
.logo-js{
    width: 8rem;
    height: 7rem;
    margin-top: 2rem;
    margin-left: 9rem;
}
.logo-python{
    width: 8rem;
    height: 7rem;
    margin-top: 2rem;
    margin-left: 9rem;
}
@media screen and (min-width: 394px) and (max-width: 431px) {
    body{
    background-color: #fffaff;
    }
    .first-part{
    height: 18rem;
}
}
 @media screen and (min-width: 431px) and (max-width: 481px) {
    body{
    background-color:#fffaff;
    }
    .first-part{
    height: 16rem;
}
.img-photo{
    margin-top: 2rem;
    margin-left: 2rem;
}
.name{
    margin-left: 2rem;
}
.img-box-1{
    margin-left: 3rem;
}
.logo-html{
    margin-left: 11rem;
}
.logo-html{
    margin-left: 11rem;
}
.logo-css{
    margin-left: 11rem;
}
.logo-js{
    margin-left: 11rem;
}
.logo-python{
    margin-left: 11rem;
}
}

@media screen and (min-width: 481px) and (max-width: 821px) {
    body{
    background-color:#fffaff;
    }
.first-part{
    height: 16rem;
}
.img-photo{
    margin-left: 8rem;
}
.name{
    margin-left: 7rem;
}
.title-information{
    margin-top: 3rem;
}
.container-projects{
    margin-top: 4rem;
    margin-left: 14rem;
}
hr{
    width: 92%;
}
.second-part{
    height: 11rem;
    width: 50%;
    margin-left: 12rem;
}
.title1{
    margin-top: 2rem;
}
.img-box-1{
    margin-left: 2rem;
}
.container-referencias{
    margin-left: 14rem;
}
.third-part{
    width: 50%;
}
.separate{
    display: flex;
    margin-right: 8rem;
}
.container-experiencias{
    margin-left: 14rem;
    margin-top: 3rem;
}
.logo-html{
    margin-left: 21rem;
}
.logo-css{
    margin-left: 21rem;
}
.logo-js{
    margin-left: 21rem;
}
.logo-python{
    margin-left: 21rem;
}
}

@media screen and (min-width: 821px) and (max-width: 2000px) {
body{
    background-color:#fffaff;
}
.first-part{
    height: 17rem;
}
.img-photo{
    margin-left: 19rem;

}
.name{
    margin-left: 18rem;
}
.title-information{
    margin-top: 4rem;
    margin-right: -24rem;
}
.container-projects{
    margin-top: 4rem;
    margin-left: 50rem;
}
.separate1{
    display: flex;
    margin-left: 24rem;
}
.second-part{
    width: 30%;
}
.img-box-1{
    margin-left: 3rem;
}
.container-referencias{
    margin-left: 50rem;
}
.third-part{
    width: 30%;
}
.separate{
    display: flex;
    margin-right: 8rem;
    margin-left: 24rem;
}
hr{
    width: 95%;
}
.container-experiencias{
    margin-left: 45rem;
    margin-top: 4rem;
}

}

