* {
    margin: 0;
}
.first-part{
    width: 100%;
    background-color:#d0f9ea;
    display: flex;
}
.container-information{
    width: 50%;
}
.img-photo{
    width: 8rem;
    height: 10rem;
    margin-top: 3rem;
    margin-left: 1rem;
    border-radius: 2rem;
}
.number{
    font-size: 1rem;
}
.title-information{
    width: 45%;
    font-style: italic;
}
.information{
    font-size: 1rem;
    margin-top: 2rem;
}
.container-proyectos{
    display: flex;
    margin-top: 4rem;
}
.img-logo{
    width: 6rem;
    height: 6rem;
    margin-left: 2rem;
    border-radius: 3rem;
    background-color: #b1ff88;
    
}
.title{
    margin-top: 2rem;
}
hr{
    width: 80%;
    height: 5px;
    background-color: #7add54;
    margin-top: 1rem;
    margin-left: 2rem;
}
.second-part{
    width: 70%;
    height: 12rem;
    background-color:#5ecc3a;
    margin: 4rem;
    border-radius: 3rem;
    margin-top: 2rem;
    display: flex;
}
.img-box1{
    width: 8rem;
    height: 9rem;
    margin-top: 1rem;
    margin-left: 1rem;
}
.img-box-1{
    width: 50%;
}
.title1{
    margin-top: 3rem;
    margin-left: 1rem;
    color:#fffaff;
}

.text{
    width: 50%;
    margin-left: 2rem;
    color: #fffaff;
}
.description{
    margin-left: 1rem;
    color: #fffaff;
}
.project{
    margin-top: 2rem;
    left: 2rem;
    color: #fffaff;
}
.container-referencias{
    display: flex;
    margin-top: 4rem;
}
.third-part{
    width: 70%;
    height: 12rem;
    background-color:aliceblue;
    margin-top: 2rem;
    margin-left: 6rem;
    width: 50%;
    border: black 3px solid;
}
.number2{
    margin-left: 2rem;
}
.description2{
    margin-left: 2rem;
}
.cellPhone{
    margin-left: 2rem;
}
.mail{
    margin-left: 2rem;
}
.container-experiencias{
    display: flex;
    margin-top: 4rem;
}